<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Document</title>

</head>
<body>
    {{>header}}
       <main>
        <div class="main-container1">
            <img src="/images/img/nails-home.jpg" alt="" class="main-image">
            <img src="/images/img/small-img.jpg" alt="" class="small-image">
        </div>

        <div class="main-conatiner2">
            <div id="gallary" class="gallary">
                <h2 class="name">גלריה</h2>
                <hr class="hrs">
            </div>
            <div class="image-gallary">
                <button id="scrolRight" class="icon"><i class="fa fa-angle-double-left"></i></button>
                <img src="/images/img/p1.jpeg" alt="" class="image">
                <img src="/images/img/p2.jpeg" alt="" class="image">
                <img src="/images/img/p3.jpeg" alt="" class="image">
                <button id="scrolLeft"  class="icon"><i class="fa fa-angle-double-right"></i></button>
            </div>
            
            <div class="image-gallary-mobile">
                <div class="image-gallary-m">
                <button id="scrolRightM" class="icon"><i class="fa fa-angle-double-left"></i></button>
                <img src="/images/img/p1.jpeg" alt="" class="imageM">
                <button id="scrolLeftM"  class="icon"><i class="fa fa-angle-double-right"></i></button>

                </div>
            </div>
        </div>

        <div class="myStory">
            <h2 class="name">הסיפור שלנו </h2>
            <hr class="hrs">
            <p dir=rtl class="story">סטודיו ביתי עם אווירה חמה ביבנה ,מתמחה בלק ג'ל על ציפורן טבעית, מבנה אנטומי, שיקום  הציפורן ועוד לתיאום תור לפנות ל <a href="/#contacts">whatSapp </a> או להשאיר פרטים . </p>

        </div>

        <div class="main-container3">
            <div id="services" class="services">
                <h2 class="name">השירותים שלנו</h2>
                <hr class="hrs">
            </div>

            <div class="service-container">
                <div class="service">
                   <div class="title">לק ג'ל על ציפורן טבעית  </div>
                   <div class="price">100  &#8362;</div>
                </div>
                <div class="service">
                    <div class="title">לק ג'ל כולל מבנה אנטומי </div>
                    <div class="price">120  &#8362;</div>
                </div>
                <div class="service">
                    <div class="title">בניה בג'ל</div>
                    <div class="price">250 &#8362;</div>
                </div>
            </div>
        </div>

        <div class="main-container4">
            <div id="contacts" class="contacts">
                <h2 class="name">יצירת קשר</h2>
                <hr class="hrs">
            </div>
            <div class="contact-container">
                    <div class="contact">
                        <a href="https://api.whatsapp.com/send?phone=972545704017"><img class="images-contact"  src="/images/img/images.jpg" alt="whatsapp image"> </a>
                    </div>
                    <div class="contact">
                        <a href="tel:+972 0585885484"><img  class="images-contact" src="/images/img/phone.jpg" alt="phone image"></a>
                    </div>
                    <div class="contact">
                        <a href="https://ul.waze.com/ul?ll=31.80146260%2C34.65245610&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"><img class="images-contact"  src="/images/img/icon-waze.jpg" alt="waze image"></a>
                    </div>
            </div>
                
        </div>
        <div class="contact_details">
            <div class="con1">
                <h2 class="name">השארת פרטים</h2>
                <hr class="hrs">
            </div>
            <form class="contact_form" action="">
              <div class="icons-contact">
                <label for="name">שם פרטי</label>
                <i class="fa fa-user"></i>
                <input type="text" id="name"  placeholder=" שם ... ">
              </div>

              <div class="icons-contact">
                <label for="phone">מספר טלפון</label>
                <i class="fa fa-phone" ></i>
                <input type="number" id="phone"  placeholder=" מספר טלפון ...">
              </div>
              <div class="icons-contact">
                <label for="message">הודעה</label>
                <textarea id="message" rows="4" cols="50">הודעה ..  </textarea> 
              </div>
                <input type="submit" value="הרשמה">
            </form>
        </div>
    </main>
    {{>footer}}

    <script src="js/source-image.js"></script>
    <script src="js/source-nav.js"></script>
</body>
</html>