<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Privacy-policy</title>
</head> 
<body>
    {{>header}}
    <main class="privacy">
        <h2 class="headline">Sapir-Nails  Customer {{name}}</h2>
        <p>
            Sapir-Nails  is committed to your privacy. Read our customer Privacy Policy for a clear explanation of how we collect, use, disclose, transfer, and store your information.
        </p>
    </main>

    {{>footer}}
</body>
</html>