<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>
<body class="body-logIn">
    {{>header}}

   <div class="loginFrom">
       <form action="">
         <h2>{{name}}</h2>
         <label for="email">email</label>
         <input type="email" name="email" id="email" placeholder="Enter Email ..">
         <label for="username"> user name</label>
         <input type="text" id="username" placeholder="Enter user name .."><br>
         <label for="password">password</label>
         <input type="password" id="password"placeholder="Enter user password .."><br>
         <button class="sing-up">Sing up</button>
       </form>

   </div> 

    {{>footer}}
    
   
    <script src="js/source-nav.js"></script>
    
</body>
</html>