<header>
    <a href="/"><h2>Sapir Nails</h2></a>
     
    <div class="hamburguer-icon">
        <li id="hamburguer" class="fa fa-bars"></li>
    </div>
    <div class="navbar-item">
    <ul >
        <a href="/gallary">Gallary</a>
        <a href="">Servies</a>
        <a href="">Contact</a>
        <a href="/login">LogIn</a>
    </ul>

    </div>

    {{!-- /////////////////////////////////for mobile/////////////////////////////////// --}}
    <div  id="slaider" class="slaider">
            <ul class="items">
                <li  id="clos1" class="fa fa-close"></li>
                 <a href="/gallary">Gallary</a>
                <a href="">Servies</a>
                <a href="">Contact</a>
                <a href="/login">LogIn</a>
            </ul>
        </div>
    </div>
</header>