<header>
    <a href="/"><h2>Sapir Nails</h2></a>
      <img src="/images/img/Hamburger_icon.png" class="hamburger-image"  >
     

  
    <div class="navbar-item">
    <ul >
        <a href="/#gallary">גלריה</a>
        <a href="/#services">שירותים</a>
        <a href="/#contacts">יצירת קשר</a>
    </ul>

    </div>

    {{!-- /////////////////////////////////for mobile/////////////////////////////////// --}}
    <div  id="slaider" class="slaider">
        <div class="item">
            <img src="/images/img/canel.png" class="cancel-img">
            <ul class="nav-items">
                <a href="/#gallary" class="menuItem">גלריה</a>
                <a href="/#services" class="menuItem">שירותים</a>
                <a href="/#contacts"class="menuItem">יצירת קשר</a>
            </ul>

        </div>
        </div>
    </div>
</header>
