*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
/* //////////////////////////////////////////////// header /////////////////////////////////// */
header {
    padding: 16px 14px;
    position: static;
    background-color: #CCCCFF;
    display: inline-block;
    width: 100%;
}
header .hamburger-image{
    display: none;
    width: 24px;
    float: right;

    

}

header h2{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header .navbar-item{
    display: inline;
}
header ul {
    float: right;
    padding-right: 20px;

}
header a {
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
header a:hover{
    color: white;
}
/* //////////////////////////////////////////////// end  header /////////////////////////////////// */

/* //////////////////////////////////////////////// main /////////////////////////////////// */
.main-container1{
    position: relative;
}
main .main-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
main .small-image{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 7%;
    top: 60%;
}


.gallary{
    margin-top: 40px;
    text-align: center;
}
.name{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
.hrs{
    width: 50px;
    border: 2px solid #3d3d55;
    background-color: #3d3d55;
    text-align: center;
    margin: 10px auto;
}
.image-gallary{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 5px;

}
.image-gallary img{
    width: 250px;
    height: 250px;
    margin: 5px;
    object-fit: cover;

}
.icon{
   
    color: black;
    background-color: white;
    font-size: 60px;
    outline: none;
    border: none;
    padding: 0px 20px;
    font-weight: bold;
    cursor: pointer;
}
.image-gallary .fa:hover{
    color:  #CCCCFF;
}
/* ////////////////////////////////////////////////// story ///////////////////////////// */
.myStory{
    padding: 16px;
    margin: 30px;

}
.story{
    width: 70%;
    margin: auto;
    padding-top: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.story a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.story a:hover{
        color: #3d3d55;
}

/* ////////////////////////////////////////////////// end story ///////////////////////////// */

/* ////////////////////////////////////// service///////////////////////////////////// */
.service-container{
    padding: 16px ;
    width: 70%;
    margin: auto;
}
.service{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    width: 100%;
    background-color: #CCCCFF;
    padding: 12px 16px;
    display: inline-block;

}
.title{

    float: right;
    font-size: 19px;
    font-weight: bolder;

}
.price{
    float: left;
    font-size: 19px;
    font-weight: bolder;
}


/* //////////////////////////////////////end  service///////////////////////////////////// */
/* //////////////////////////////////////contact///////////////////////////////////// */
.images-contact{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 40px;
    
}
.contact {
    padding: 3px;
}
.contact-container{
    display: flex;
    justify-content: center;
}


.contact_details{
    padding-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.contact_form{
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    background-color: #CCCCFF;
    direction: rtl;
    text-align: center;

}

.contact_form label{
    display: block;
    font-size: 20px;
    text-align: right;
   font-weight: bolder;
}

.contact_form input[type=text],input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #8e8686;
    display: block;
}
.contact_form input[type=submit]{
    background-color: #3d3d55;
    padding: 12px 50px;
    font-size: 16px;
    color: white;
    border-radius: 9px;
  
    border: none;
    cursor: pointer;
}
.contact_form input[type=submit]:hover{
    background-color: #484879;
  
}
.icons-contact input[type=text],input[type=number]{
    padding-right: 40px;

}
.icons-contact{
    position: relative;
}
.icons-contact i{
    position: absolute;
    right: 0;
    top: 40px;
    padding-right: 10px;
    font-size: 20px;

    
}

/* //////////////////////////////////////end  contact///////////////////////////////////// */


/* ////////////////////////////////////// footer///////////////////////////////////// */
footer {
    margin-top: 20px;
    padding: 5px ;
    background-color: black;
    display: inline-block;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
}
footer .nameCopy{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}
footer ul {
    float: right;
    padding-right: 20px;

}
footer a {
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer a:hover{
    color: #CCCCFF;

}


/* //////////////////////////////////////end  footer///////////////////////////////////// */




/* //////////////////////////////////////////// mobile css/////////////////////////////// */

header .slaider{
    position: fixed;
    background-color: white;
    z-index: 99;
    width: 150px;
    margin-top: 40px;
    right: -320px;
   
}
header .cancel-img{
    padding-top: 5px;
    padding-right: 5px;
    width: 15px;
    margin: 10px;
    float: right;
}
header .cancel-img:hover{
    color: #484879;
}
header .nav-items u{
    float: none;
    text-align: center;
}
header .nav-items a{
    display: block;
    margin: 10px;
} header .nav-items a:hover{
    color: #484879;

}
header .itnav-items{
    display: block
}
header #clos1{
    text-align: center;
    cursor: pointer;
}
header #clos1:hover{
   color: #484879;
}

.image-gallary-mobile{
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 5px;
}

.image-gallary-mobile img{
    width: 300px;
    height: 300px;
    margin: 5px;
    object-fit: cover;
    

}
.image-gallary-m{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 5px;

}
/* ////////////////////////////////////////////  end mobile css/////////////////////////////// */


/* //////////////////////////////////////////// terms and privacy-police css/////////////////////////////// */
.terms , .privacy{
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.headline{
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}
.terms , .privacy p{
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    width: 50%;
    margin: auto;
}


/* //////////////////////////////////////////// end terms and privacy-police css/////////////////////////////// */





/* ///////////////////////////////////// media-query//////////////////////////////////// */
@media only screen and (max-width: 768px){
   
    header .hamburger-image{
        display: block;
   
    }
  
   
    header .navbar-item{
        display: none;
    }
    main .main-image{
        height: 100px;
    }
    main .small-image{
        width: 80px;
        height: 80px;
  
    }
    .image-gallary{
        display: none;
    }
    .image-gallary-mobile{
        display: block;

    }
    .icon{
        padding: 0 5px;
        font-size: 30px;
    }
    .name{
      font-size: 16px;
    }
    .hrs{
        width: 30px;
    }
    .title{
        display: block;
        font-size: 16px;
    }
    .price{
        display: block;
        font-size: 16px;

    }
   
    .main-container4{
        margin-bottom: 10px;
        padding-bottom:unset;
    }

   
    footer .nameCopy{
        font-size: 12px;
   
    }
    .terms , .privacy{
        padding: 40px;
        text-align:left
    }
    .terms , .privacy p{
        width: 100%;
    }
    .headline{
        font-size: 22px;
        font-weight: bold;
        padding: 10px;
    }
    footer{
        position: fixed;
        bottom: 0
    }

    footer a {
        font-size: 12px;
        padding-right: 5px;

    }
    .story{
        font-size: 18px
    }
    .contact_form{
        width: 70%;
    }
    .contact_form label{
        font-size: 15px;
    }




}